$base-color: #0E0E18;
$default-color: #8c8d96;
$bar-color: #2e2f38;
$btn-primary-color: #5957BB;
$btn-secondary-color: #BAE399;

.detail-page {

    .header {
        display: flex;
        color: #fff;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 10px;
        
        .back-btn {
            width: 50px;
            z-index: 2;
        }
        .coin-label {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            width: 100%;
            margin-left: -50px;

            .icon{
                margin-right: 8px;
            }
        }
    }
   
}
.market-prices {
    display: flex;
    color: #fff;
    margin: 20px 0;
    font-size: 42px;
    align-items: baseline;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;

    .market {
        font-size: 14px;
        margin-left: 10px;
        &.text-success {
            color: #BAE399;
        }
    }
}
.filter-btns {

    overflow-x: auto;
    white-space: nowrap;

    button {
        background: $bar-color;
        border: none;
        padding: 10px 5px;
        border-radius: 15px;
        font-size: 22px;
        color: #fff;
        width: 94px;
        margin: 1px;
        letter-spacing: 1px;
    }
    
    button.active{
        background: white;
        color: #2e2f38;
    }
  
}
.filter-btns::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.graph-footer {
    display: flex;
    button {
        background: $bar-color;
        border: none;
        padding: 25px 10px 15px 10px;
        margin: 2px;
        border-radius: 21px;
        font-size: 22px;
        transition: transform 1s;
        color: #fff;
        width: 50%;
        &:active {
            -ms-transform: scale(0.9); /* IE 9 */
            -webkit-transform: scale(0.9); /* Safari 3-8 */
            transform: scale(0.9); 
        }
        
        &.sell {
            background: $btn-primary-color;

            span{
                position: relative;
                top: -9px;
            }

            svg{
                transform: rotate(140deg);
                margin-left: 5px;
            }
        }
        &.buy {
            background: $btn-secondary-color;
            color:$base-color;

            span{
                position: relative;
                top: -9px;
            }

            svg{
                transform: rotate(215deg);
                margin-left: 5px;
            }
        }

    }
}
